**/__pycache__
.ipynb_checkpoints
*.ipynb
mkdocs/
clean
dist/
.DS_Store
.eggs/
*.pyc
test.npz
EnergyFlow.egg-info
*.txt
plan.jpg
.cache
build
scrap
Energy\ Flow.sublime*
tmp/
bin/
*.nb
.pytest_cache
py2/
.dropbox
*sublime*
taco
Moments
Networks
Polynomials
./datasets/

