**/__pycache__
.ipynb_checkpoints
*.ipynb
.DS_Store
LICENSE
README.md
clean
energyflow/
mkdocs/
tests/
test.npz
.eggs
*.sublime-*
Icon?
Moments/
Networks/
Polynomials/
datasets/
dist/
fastjet-3.3.4
taco/
*.egg-info/
clean.sh