---
language: python
os: linux
dist: bionic

install: |
  pip install cython
  pip install .[tests]

script:
  - python setup.py test -v

jobs:
  include:
    - python: 2.7
    - python: 3.6
    - python: 3.7
    - python: 3.8

branches:
  only:
    - master
