.eflogo {
    width: 100%;
    max-height: 150px;
    font-size: 150%;
    color: white;
}

.wy-side-nav-search .eflogo-img {
    width:100px;
    height:100px;
    background:#863347;
    margin-bottom:0;
}

h1, h2, h3, h4, h5, h6, legend {
    color: #863347;
}

.wy-side-nav-search {
    background: #863347;
}

.wy-side-nav-search a:hover {
    background: #863347;
}

.wy-nav-top {
    background: #863347;
}

a:visited {
    color: #2980B9;
}

.wy-menu-vertical a {
    color: #b3b3b3;
}
