:root {
    --mit-red: #a31f34;
}

.eflogo {
    width: 100%;
    max-height: 150px;
    font-size: 150%;
    color: white;
}

.wy-side-nav-search .eflogo-img {
    width: 100px;
    height: 100px;
    background: var(--mit-red);
    margin-bottom: 0;
}

h1, h2, legend {
    color: var(--mit-red);
}

.wy-side-nav-search {
    background: var(--mit-red);
}

.wy-side-nav-search a:hover {
    background: var(--mit-red);
}

a:visited {
    color: #2980B9;
}

a:visited code {
    color: #2980B9;
}

.wy-nav-top {
    background: var(--mit-red);
}

.wy-nav-top a {
    color: white;
}

.wy-menu-vertical a {
    color: #b3b3b3;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    display: none;
}

/* changes sublist item to nothing*/
.wy-plain-list-disc li li, .rst-content .section ul li li, .rst-content .toctree-wrapper ul li li, article ul li li {
    list-style: none;
}

/* moves menu items left a bit*/
.wy-menu-vertical .subnav li.current > ul li a {
    padding-left: 2.4em;
}

.wy-menu-vertical .subnav li.current a.toctree-l4 {
    padding-left: 3.6em;
}

.wy-menu-vertical .subnav li.current a.toctree-l5 {
    display: none;
}

/*.wy-plain-list-disc li li, .rst-content .section ul li li, .rst-content .toctree-wrapper ul li li, article ul li li {
    list-style: none;
}

.wy-menu-vertical li ul.subnav ul.subnav {
    padding-left: 0em;
}*/