name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  # Run weekly at 1:23 UTC
  schedule:
  - cron: '23 1 * * 0'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      # TODO Remove when Windows builds stop failing (see #47)
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10']

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python --version

      - name: Install test prerequisites
        run: |
          python -m pip install cython tf-keras
          python -m pip install '.[tests]'

      - name: Run tests
        run: pytest --verbose tests/
